@font-face {
  font-family: "Bitcount Grid Double";
  src:
    url("assets/BitcountGridDouble/BitcountGridDouble-Black.woff2")
      format("woff2"),
    url("assets/BitcountGridDouble/BitcountGridDouble-Black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-family: system-ui, sans-serif;
}

.container {
  min-width: 70%;
  height: 50%;
  margin-top: 50px;
}

.board {
  width: 50%;
  height: 100%;
  background-color: rgb(35, 212, 212);
  margin: 0 auto;
  font-family: "Bitcount Grid Double", system-ui, sans-serif;
}

.row {
  display: flex;
  height: calc(100% / 3);
}

.col {
  border: 3px solid rgba(43, 43, 37, 0.171);
  width: calc(100% / 3);
  font-size: 100px;
  text-align: center;
}

.board .row:first-of-type .col {
  border-top: none;
}

.board .row .col:first-child {
  border-left: none;
}

.board .row .col:last-child {
  border-right: none;
}

.board .row:last-child .col {
  border-bottom: none;
}

.selection {
  display: flex;
  gap: 250px;
  justify-content: center;
  margin-bottom: 24px;
}

.selection div {
  display: flex;
  justify-content: space-between;
  padding: 12px 18px;
  border: 2px solid rgb(85, 79, 79);
  width: 20%;
  border-radius: 15px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
}

.selection div:hover,
button:hover {
  cursor: pointer;
}

.message {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
}

.button {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 8px 18px;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 10px;
  background-color: #ffe;
}

/* CLASSES UTILITAIRES */
.winner {
  color: green;
  font-size: 30px;
}

.draw {
  color: brown;
  font-size: 30px;
}
