* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-family: sans-serif;
}

.container {
  min-width: 70%;
  height: 50%;
}

.board {
  width: 50%;
  height: 100%;
  background-color: rgb(35, 212, 212);
  margin: 0 auto;
}

.row {
  display: flex;
  height: calc(100% / 3);
}

.col {
  border: 3px solid rgba(43, 43, 37, 0.171);
  width: calc(100% / 3);
  font-size: 100px;
  text-align: center;
}

.board .row:first-of-type .col {
  border-top: none;
}

.board .row .col:first-child {
  border-left: none;
}

.board .row .col:last-child {
  border-right: none;
}

.board .row:last-child .col {
  border-bottom: none;
}

.board-message {
  text-align: center;
  font-size: 30px;
}

.selection {
  display: flex;
  gap: 250px;
  justify-content: center;
  margin-bottom: 24px;
}

.selection div {
  display: flex;
  gap: 24px;
  padding: 12px 18px;
}

.selection div:hover {
  cursor: pointer;
}

.message {
  text-align: center;
  margin-bottom: 24px;
  font-size: 30px;
}

/* CLASSES UTILITAIRES */
.winner {
  color: green;
  font-size: 30px;
}

.draw {
  color: brown;
  font-size: 30px;
}
