@font-face {
    font-family: 'Bitcount Grid Double';
    src: url('BitcountGridDouble-Black.woff2') format('woff2'),
        url('BitcountGridDouble-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

